mat-card {
    max-width: 100%;
    margin: auto;
    text-align: center;
    width: 100%;
}

.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
    font-size: 14px;
    text-align: left;
}

mat-toolbar-row {
    justify-content: space-between;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

.toolbar {
    padding: 6px;
}
.toolbar-icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}
.mat-toolbar{
    margin: 0 0 2rem;
}


.mat-icon-button {
    width: auto;
}

img {
    background-color: gray;
}

.demo-card-blue {
    background-color: #b0becc;
}

.card-header img {
    width: 100%;
    margin: auto;
    display: block;
    height: auto;
}

.card-header{
   margin: 10px auto;
    text-align: left;
}
.mat-card-header-text{
    display: none !important;
}